<main class="container"> 
  
  <button type="button" class="btn btn-primary">
    Notifications <span class="badge bg-secondary">{{numeroTareas}}</span>
   
  </button>

<!-- <button (click)="updateMax()">Click</button> -->

    <div style="border: 2px solid black;" class="my-3 p-3 bg-body rounded shadow-sm">
        <h6 class="border-bottom pb-2 mb-0">Últimas actividades</h6>
        <div class="d-flex text-muted pt-3" *ngFor="let item of tareas" >
          <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>

          <p class="pb-3 mb-0 small lh-sm border-bottom">
            <strong class="d-block text-gray-dark">Id tarea: {{item.id}}</strong>
            <strong class="d-block text-gray-dark">{{item.nombre}}</strong>
            <strong class="d-block text-gray-dark">Fecha: {{item.fecha_tarea}}</strong>
            <strong class="d-block text-gray-dark">Descripcion: {{item.descripcion}}</strong>
            <!-- <strong class="d-block text-gray-dark">Telefono: {{item.n_telefono}}</strong>
            <strong class="d-block text-gray-dark">Link Maps: {{item.link_maps}}</strong> -->
            <strong class="d-block text-gray-dark">Web: {{item.pagina_web}}</strong>
            <strong class="d-block text-gray-dark">Comentarios: {{item.comentarios}}</strong>
            <br>
            <!-- <a href="http://localhost:4200/tarea/borrar/{{item.id}}"><button id="boton">Borrar</button></a>
            <a href="http://localhost:4200/tarea/actualizar/{{item.id}}"><button id="boton">Actualizar</button></a> -->
            <button  [routerLink]="'/tarea/borrar/'+item.id" type="button" class="btn btn-danger">Borrar</button><strong>|</strong>
            <button  [routerLink]="'/tarea/actualizar/'+item.id" type="button" class="btn btn-warning">Actualizar</button>
          </p>
        </div>
   
        <small class="d-block text-end mt-3">
          <a href="#">All updates</a>
        </small>
      </div>
</main>