<!DOCTYPE html>
<html>

<head>
  <title>Domenico Dolce</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap -->
  <!--<link href="../../domenico/css/bootstrap.css" rel="stylesheet">-->

  <!--Fuentes de Google-->
  <link href='http://fonts.googleapis.com/css?family=Belgrano|Courgette&subset=latin,latin-ext' rel='stylesheet'
    type='text/css'>

  <style>
    body {
      background: #f1f1f1;
    }

    .cabecera {
      position: relative;
      display: inline-block;
      text-align: center;
    }

    #texto {
      position: absolute;
      bottom: 0px;
      left: 20px;
      color: white;
      font-size: 40px
    }

    @media screen and (max-width: 600px) {
      #texto {
        font-size: 25px;
      }
    }

  </style>
</head>

<body>

<div class="cabecera">
    <!--<img style="width: 100%;" src="../../assets/img/Domenico.jpg">-->
    <p id="texto">Domenico Dolce</p>
</div>