
<app-cabecera></app-cabecera>

 <div class="container">
    <h1 style="text-align: center;">Datos de la tarea a actualizar</h1>
    <form [formGroup]="tareaForm" (ngSubmit)="onSubmit()">
    <h5>Id: {{tareas?.id}}</h5>
    <div class="mb-3">
        <label for="tarea-nombre">Nombre tarea: </label><br>
        <input id="tarea-nombre" value="{{tareas?.nombre}}" type="text" formControlName="tareaNombre"><br><br>
    </div>
    <div class="mb-3">
        <label for="tarea-descripcion">Descripción: </label><br>
        <input id="tarea-descripcion" value="{{tareas?.descripcion}}" type="text" formControlName="tareaDescripcion"><br><br>
      </div>
      <div class="mb-3">
        <label for="tarea-telefono">Número de teléfono: </label><br>
    <input id="tarea-telefono" value="{{tareas?.n_telefono}}" type="number" formControlName="tareaTelefono"><br><br>
      </div>
      <div class="mb-3">
        <label for="tarea-maps">Link Google Maps: </label><br>
    <input id="tarea-maps" value="{{tareas?.link_maps}}" type="url" formControlName="tareaMaps"><br><br>
      </div>
      <div class="mb-3">
        <label for="tarea-web">Link Página Web: </label><br>
        <input id="tarea-web" value="{{tareas?.pagina_web}}" type="url" formControlName="tareaWeb"><br><br>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Comentarios:</label><br>
        <input id="tarea-comentario" value="{{tareas?.comentarios}}" type="text" formControlName="tareaComentario"><br><br>
      </div>
      <button type="submit" class="btn btn-warning">Actualizar</button>
    </form>
</div>







    

    

    

    

   
