
<app-cabecera></app-cabecera>
<div class="container">
  <h1 style="text-align: center;">Datos de la tarea a actualizar</h1>

    <form [formGroup]="nombreForm" (ngSubmit)="actualizarNombre()">
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Nombre tarea: </span>
        <input id="tarea-nombre" formControlName="tareaNombre" type="text" class="form-control" value="{{tareas?.nombre}}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        <button type="submit" class="btn btn-warning" [disabled]="!nombreForm.valid">Actualizar</button>
      </div>
    </form>

    <form [formGroup]="descripcionForm" (ngSubmit)="actualizarDescripcion()">
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Descripcion: </span>
        <input id="tarea-descripcion" formControlName="tareaDescripcion" type="text" class="form-control" value="{{tareas?.descripcion}}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        <button type="submit" class="btn btn-warning" [disabled]="!descripcionForm.valid">Actualizar</button>
      </div>
    </form>

    <form [formGroup]="telefonoForm" (ngSubmit)="actualizarTelefono()">
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Número de teléfono: </span>
        <input id="tarea-telefono" formControlName="tareaTelefono" type="number" class="form-control" value="{{tareas?.n_telefono}}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        <button type="submit" class="btn btn-warning" [disabled]="!telefonoForm.valid">Actualizar</button>
      </div>
    </form>

    <form [formGroup]="mapsForm" (ngSubmit)="actualizarMaps()">
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Link Google Maps: </span>
        <input id="tarea-maps" formControlName="tareaMaps" type="text" class="form-control" value="{{tareas?.link_maps}}"  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        <button type="submit" class="btn btn-warning" [disabled]="!mapsForm.valid">Actualizar</button>
      </div>
    </form>

    <form [formGroup]="webForm" (ngSubmit)="actualizarWeb()">
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Link Página Web: </span>
        <input id="tarea-web" formControlName="tareaWeb" type="text" class="form-control" value="{{tareas?.pagina_web}}"  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        <button type="submit" class="btn btn-warning" [disabled]="!webForm.valid">Actualizar</button>
      </div>
    </form>
    

    <form [formGroup]="comentarioForm" (ngSubmit)="actualizarComentario()">
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Comentarios: </span>
        <input id="tarea-comentario" formControlName="tareaComentario" type="text" class="form-control" value="{{tareas?.comentarios}}"  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        <button type="submit" class="btn btn-warning" [disabled]="!comentarioForm.valid">Actualizar</button>
      </div>
    </form>

    <form [formGroup]="realizadaForm" (ngSubmit)="actualizarRealizada()">
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">¿Está la tarea ya realizada?(EScribe Si o No): </span>
        <input id="tarea-realizada" formControlName="tareaRealizada" type="text" class="form-control" value="{{tareas?.realizada}}"  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        <button type="submit" class="btn btn-warning" [disabled]="!realizadaForm.valid">Actualizar</button>
      </div>
    </form>


</div>







    

    

    

    

   
