<div class="container"> 
    <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-white bg-light rounded-3">
              <h2 style="color:black;">Crea Tarea</h2>
            <form [formGroup]="tareaForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label style="color:black" for="tarea-nombre">Nombre tarea: </label>
                    <input class="form-control" id="tarea-nombre" type="text" formControlName="tareaNombre" required><br><br>
                </div>
                <div class="mb-3">
                    <label style="color:black" for="tarea-descripcion">Descripción: </label>
                    <input class="form-control"   id="tarea-descripcion" type="text" formControlName="tareaDescripcion"><br><br>
                </div>
                <div class="mb-3">
                    <label style="color:black" for="tarea-telefono">Nº de teléfono: </label>
                    <input class="form-control" id="tarea-telefono" type="number" formControlName="tareaTelefono"><br><br>
                </div>
                <div class="mb-3">
                    <label style="color:black" for="tarea-maps">Link Google Maps: </label>
                    <input class="form-control" id="tarea-maps" type="url" formControlName="tareaMaps"><br><br>
                </div>
            
                <div class="mb-3">
                    <label style="color:black" for="tarea-web">Link Página Web: </label>
                    <input class="form-control" id="tarea-web" type="url" formControlName="tareaWeb"><br><br>
                </div>
        
                <div class="mb-3">
                    <label style="color:black" for="tarea-comentario">Comentario: </label>
                    <input class="form-control" id="tarea-comentario" type="text" formControlName="tareaComentario"><br><br>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!tareaForm.valid">Crear Tarea</button>    
            </form>
          </div>
        </div>
      </div>
    </div>

<div class="container">
    <div class="map-responsive">

        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d11816.889884449809!2d-1.86110215!3d42.231059900000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1647464584667!5m2!1ses!2ses" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        
    </div>
</div>
   

    
  
