


<section>
    <div class="circle"></div>
    <div class="content">
      <div class="textBox">
        <h2>Se eficiente<br>con <span>Invest-Day</span></h2>
        <p>Nuestra aplicación es un icono en el bienestar de las personas, una aplicación desarrollada por Alen Tokalic, David Fernández y Rubén Gil que te ayuda a mantener en orden tus tareas. Cuenta con el mejor sistema de recomendación por parte de otros usuarios para que puedas aprovechar mejor tu tiempo libre con distintas actividades de ocio. En Invest Day creemos que el tiempo es oro y hay que aprovecharlo.</p>
          <img id="imgMundo" src="assets/img/unknown1.png" class="starbucks" alt="">
      </div>
      
      
    </div>
    
    
    <ul class="thumb">
        <li><img [routerLink]="'/home'" src="assets/img/pin.png" alt=""></li>
      </ul>
  </section>
  

