
<app-cabecera></app-cabecera>

<div class="container"> 
    <h1 style="text-align: center;">Datos de la tarea</h1>
    <h5>Id: {{tareas?.id}}</h5>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nombre</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" disabled rows="1">{{tareas?.nombre}}</textarea>
      </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Fecha de Tarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" disabled rows="1">{{tareas?.fecha_tarea}}</textarea>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Descripción:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" disabled rows="2">{{tareas?.descripcion}}</textarea>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Telefono:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" disabled rows="2">{{tareas?.n_telefono}}</textarea>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Google Maps:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" disabled rows="2">{{tareas?.link_maps}}</textarea>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Link Pagina Web:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" disabled rows="2">{{tareas?.pagina_web}}</textarea>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Comentarios:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" disabled rows="2">{{tareas?.comentarios}}</textarea>
      </div>

      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Tarea Realizada:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" disabled rows="2">{{tareas?.realizada}}</textarea>
      </div>      
      <button type="button" class="btn btn-danger" (click)="borrar()">Borrar</button>
</div>
